*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    overflow-x: hidden;
}
.navbar,.main-header{
    background-color: #F5F7FA;
}
.navbar{
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
}
.logo{
    width: 154px;
    height: 24px;
}
.navbar .container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-menu,.navbar-buttons{
        display: flex;
        align-items: center;
        gap: 15px;
        list-style: none;
}

.navbar-menu li{
    color: #18191F;
    font-weight: 500;
    line-height: 24px;

}
.login-btn{
    color: #4CAF4F;
    text-decoration: none;
    width: 77px;
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    line-height: 20px;
}
.signup-btn{
    background-color: #4CAF4F;
    text-decoration: none;
    color: #fff;
    width: 91px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

}

.main-header .container{
    width: 80%;
    margin: auto;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header-content{
    width: 55%;
}
.main-header-content h1{
    color: #4D4D4D;
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
}
.main-header-content h1 span{
    color: #4CAF4F;
}
.main-header-img{
    width: 35%;
}
.main-header-img img{
    width: 100%;
}
.main-header-text,.clients-subheader{
    color: #717171;
    margin-top: 20px;
}
.main-header-btn{
    width: 128px;
    height: 52px;
    background-color: #4CAF4F;
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    margin-top: 20px;
}

.clients-section .container{
    width: 80%;
    margin: auto;
    padding: 50px 0;
    text-align: center;
}
.clients-section h2{
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}
.clients{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.clients img{

    width: 48px;
    height: 48px;
}

.menu-toggle{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 15px;
    display: none;
}
.menu-toggle img{
    width: 100%;
    height: 100%;
    
}
@media(max-width:992px){
    .container{
        width: 95% !important;
    }
    .navbar-menu{
        display: none;
    }
    .menu-toggle{
        display: inline-block;
    }
    .logo{
        width: 120px;
        height: 20px;
    }
    .login-btn,.signup-btn{
        font-size: 12px;
    }
    .login-btn{
        width: 60px;
    }
    .signup-btn{
        width: 80px;
    }
    .main-header .container{

        flex-direction: column;
    }
    .main-header-content,.main-header-img{
        width: 100%;
    }
    .main-header-content h1{
        font-size: 40px;
        line-height: 56px;
    }
    .main-header-btn{
        height: 40px;
        width: 140px;
    }
    .main-header-img img{
        width: 80%;
    }
    .main-header-img{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .clients{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .clients img{
        width: 80px;
        height: 80px;
    }
    .responsive-one{         /* My responsive codes start from here */
        margin-top: 50px;
    }
    .three-icons{
        display: flex;
        flex-direction: row !important;
        justify-content: start !important;
        margin-top:5px !important;
        width: 100% !important;
        gap: 20px;
    }
    .icon-one, .icon-two,{
        height: 300px !important;
        width: 40% !important;
    }    
    .pixelgrade-section{
        margin-top: 350px !important;
        position: relative;
    }
    .container-pixelgrade{
        position: absolute;
        display: flex !important;
        justify-content: flex-end !important;
    }
    .pixelgrade-writings h2{
        width: 100%;
        flex-wrap: wrap;
        font-size: 10px;
    }
    .achievements-section{
        margin-top: 200px !important;
    }
 


}
.scroll{
    position: fixed;
    top: 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;;
}
.mobile-menu{
    position: fixed;
    
    background-color: #4D4D4D;
    height: 100%;
    padding: 20px;
    left: -100px;
    z-index: 100;
    width: 0;
    transition: all .3s ease-in-out;
}
.mobile-menu ul{
    list-style: none;
}
.mobile-menu ul li{
    width: 100%;
    color: #fff;
    padding: 20px 0;
    font-weight: 500;
}
.open-menu{
    width: 60% !important;
    left: 0 !important;
}
.nav-close{
    position: absolute;
    height: 84px;
    z-index: 0;
}
.up-arrow{
    position: fixed;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    outline: none;
    display: none;
    right: 30px;
}


/* My codes start from here */


.manage-community-section{
    width: 100%;
    margin-top: 150px;
    margin-bottom: -30px;
}
.manage-community-section .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    flex-direction: column;
    height: 120px;
    gap: 8px;
}

.manage-community-section h2{
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    height: 88px;
    margin-top: 50px;
    color: #4D4D4D;
    width: 35%;
    text-align: center;
}

.manage-community-section p{
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717171
}

.three-icons{
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 144px 0px 144px;
    margin-top: -40px;    
    margin-bottom: 50px;
}

.icon-one, .icon-two, .icon-three{
    height: 260px;
    padding: 24px 32px;
    gap:8px;
    color: #FFFFFF;
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px #ABBED1;
    border-radius: 8px;   
    width: 25%; 
}

.icon-one h3, .icon-two h3, .icon-three h3{
    height: 72px;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    width: 100%;
    color: #4D4D4D;
    text-align: center;
}

.icon-three h3{
    width: 80%;
}

.icon-one-img, .icon-two-image, .icon-three-image{
    width: 65px;
    height: 56px;
}

.icon-one p, .icon-two p, .icon-three p{
    height: 60px;
    gap:8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    width: 90%;
    text-align: center;
}

.icon-two p{
    width: 80%;
}

.container-pixelgrade{
    padding: 0px 144px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pixelgrade-section{
    height: 433px;
    margin-top: 200px;
    width: 100%;
}

.pixelgrade-writings{
    width: 100%;
    height: 268px;
    gap: 32px;
    margin-left: 170px;
}

.pixelgrade-writings h2{
    height: 88px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
    width: 70%;
}

.pixelgrade-writings p{
    width: 80%;
    height: 80px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    margin: 30px 0px;
}

.pixelgrade-button{
    background-color: #4CAF4F;
    height: 52px;
    border-radius: 4px;
    padding: 14px 32px;
    gap: 10px;
    outline: none;
    border: none;
}

.pixelgrade-img{
    margin-left: 40px;
}

.pixelgrade-link{
    text-decoration: none;
    color: #FFFFFF;
}

.achievements-section{
    width: 100%;
    height: 288px;
    margin: 40px 0px;
    background-color: #F5F7FA;
}

.achievements-container{
    display: flex;
    justify-content: space-between;
    padding: 64px 144px;
}

.container-left{
    height: 120px;
    gap: 8px;
}

.container-left h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
}

.business{
    height: 88px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4CAF4F;
}

.container-left p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    color: #18191F;
}

.container-right{
    height: 160px;
    gap: 90px;
    display: flex;
    flex-direction: row;
    margin-right: 130px;
    margin-top: -10px;
}

.top-row, .bottom-row{
    gap: 30px;
    height: 60px;
}

.members, .clubs, .bookings, .payments{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    height: 60px;
}

.bookings, .payments{
    margin-top: 35px;
}

.members h3, .clubs h3, .bookings h3, .payments h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #4D4D4D;
}

.members p, .clubs p, .bookings p, .payments p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717171;
}